H2{
	text-align: center;
}


body{
	    background-color: #F4F4F4;
}

.flex-vert{
	display: flex;
	flex-direction: column;
}

.flex-horiz{
	display: flex;
	flex-direction: row;
}

#main{
	justify-content: space-between;
	margin: 50;
}

#srcimg, .timelineimg{
	width:  579;
	height: 369;
	margin: 0px;
	padding: 10px;
	background:#ffffff;
	/*box-shadow:0px 0px 0px 10px #; */
	border:10px solid #373737;

}

#destimg{
	width:  640;
	height: 400;
	background:#373737;
	/*padding: 10px;
	border:4px solid #fff;*/
	box-shadow:0px 0px 0px 10px #373737;
	background-color: #373737;
}

button, input {
    background-color: #847c73; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:active {
	color: blue;
}
#leftbelow, #rightbelow{
	margin: 25 auto auto auto;
	
}

#playerlist-body{
	width: 0;
	height: 0;
	padding: 0;
	background-color: #847c73;
}

#playerlist-title{
	height: 0;
	padding: 0 0 0 0;
	color: #ffffff;
	background-color: #847c73;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

#playerlist-list{
	width: 0;
	height: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #ffffff;
	overflow-x: hidden;
	overflow-y: scroll;
}

.playerlist-elem, .playerlist-elem-cur{
    height: 0;
    padding: 0;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: #dddddd;
}

.playerlist-elem-cur{
    border: 0px solid #000000;
}
